input {
  background-color: white;
  max-width: 85%;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

input::placeholder {
  color: black;
  height: 100%;
}

.circle1 {
  top: 52%;
  width: 61%;
  animation: oscillatingInSize 1.7s ease-in-out infinite alternate-reverse;
}

.circle1 {
  top: 52%;
  width: 61%;

  animation: oscillatingInSize 1.7s ease-in-out infinite alternate-reverse;
}

.circle2 {
  top: 52%;
  width: 61%;

  animation: oscillatingInSize 1.7s ease-in-out infinite alternate;
}

@keyframes oscillatingInSize {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
